/*----------------
    DEBUG
------------------*/
.debug .container {
    border: 2px dashed blueviolet;
}

/* .debug .row .col {
    border: 2px dashed lightcoral;
    background-color: rgba(240, 128, 128, 0.2);
    min-height: 200px;
} */

.debug header {
    background-color: black;
}

/*----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMONS
------------------*/
.img-fluid {
    max-width: 100%;
}

/*----------------
    LAYOUT
------------------*/
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 20px;
    padding-right: 20px; */
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.col {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.gap-10 > .col {
    padding: 10px;
}
.gap-20 > .col {
    padding: 20px;
}
.gap-30 > .col {
    padding: 30px;
}

.grow {
    flex-grow: 1;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

a:hover {
    color: white;
}


/*----------------
    TYPOGRAPHY
------------------*/
body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

p {
    color: #7a7d81;
}
/*----------------
    BUTTONS
------------------*/
.btn {
    background-color: transparent;
    font-family: inherit;
    border: none;
    padding: 6px 8px;
    cursor: pointer;
}

.btn-large {
    padding: 10px 60px;
    font-size: 14px;
    color: white;
    border: 1px solid white;
    margin-right: 20px;
    margin-top: 12px;
    border-radius: 50px;
    transition-duration: 0.4s;
}

.btn-primary {
    background-color: #999;
    margin-left: 20px;
}

.btn-large:hover {
    transform: scale(1.1);
}

/*----------------
    HEADER
------------------*/
header {
    width: 50px;
    flex-shrink: 0;
    font-size: 14px;
    color: #999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    overflow-y: auto;
}

.header-main {
    height: calc(100% - 100px);
    display: flex;
}

.logo-small {
    display: block;
    padding: 5px 15px 0px 15px;
}

.logo-big {
    display: none;
}

.icons {
   width: 50px;
}

.icons li {
    display: flex;
    margin-bottom: 10px;
    border-left: 2px solid transparent;
    padding-left: 8px;
}

.icons li:first-child {
    border-color: lime;
}

.icons ul {
    list-style: none;
    padding: 5px 15px 0px 5px;
}

.icons span {
    display: none;
}

.playlist {
    display: none;
    overflow-y: auto;
}

.playlist h4 {
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 15px;
    color: white;
}

.playlist span {
    padding-left: 10px;
    /* font-size: 18px; */
}

.playlist ul {
    padding-left: 20px;
    list-style: none;
}

.playlist li {
    padding-top: 15px;
    /* font-size: 16px; */
    font-weight: bold;
}

i {
    font-size: 30px;
    color: #000000;
}

.flex-center {
    display: flex;
    align-items: center;
}

.header-bottom {
    display: flex;
    padding: 5px 15px 0px 15px;
    justify-content: center;
    width: 100%;
}

.header-bottom .icons {
    width: 100%;
}

.header-bottom .flex-center {
    padding-bottom: 15px;

}

.header-bottom img {
    width: 20px;
}

.header-bottom .icons div:last-child img {
    background-color: #999;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-bottom .icons div:last-child span {
    color: white;
}

.header-bottom .icons div:first-child {
    border-bottom: solid 1px #999;
    margin-bottom: 10px;
    width: 100%;
}

/*----------------
    MAIN
------------------*/
body {
    height: 100vh;
}

main {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #141922;
}

.upgrade-bar {
    height: 70px;
    background-color: #080b12;
    color: white;
    text-align: right;
    margin-right: 5px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}
.main-nav nav {
    display: flex;
    gap: 20px;
    color: #7d7f84;
    font-size: 14px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    font-weight: bold;
    height: 20px;
}

.main-nav nav span:hover::after {
    content: '';
    display: block;
    height: 3px;
    width: 30px;
    margin: auto;
    background-color: lime;
}

.recently-played, 
.create-for-you,
.popular {
    margin: 10px;
}
.recently-played h2,
.create-for-you h2,
.popular h2 {
    padding-bottom: 10px;
    color: white;
}

.album {
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 16px;
}
.col .album {
    width: calc(100% / 2);
    flex-wrap: wrap; 
    display: flex;
    padding: 10px;
}

.col .album h3 {
    margin-top: 20px;
}

.col .album img {
    width: 100%;
    display: flex;
}
.album-details {
    text-align: center;
}

.popular .row .col .album img {
    border-radius: 100%;
}

.album-cov {
    position: relative;
} 

.album-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    cursor: pointer;
    
}

.album-hover:hover {
    opacity: 1;
}

.album-hover i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    color: white;
    font-size: 60px;
}





/*----------------
    FOOTER
------------------*/
footer {
    height: 100px;
    background-color: #282828;
}

footer h4 {
    color: white;
    font-size: 14px;
}

.foot-cont  {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 20px 10px;
    color: #848484;
} 

.foot-left  {
    display: flex;
    width: 15%;
    padding: 10px 0;
}

.favorite {
    padding-left: 5%;
    font-size: 10px;
}

.favorite i {
    color: #848484;
    font-size: 16px;
    padding-bottom: 5px;
    margin-left: 10px;

}

.currently-playing {
    display: flex;
}

.currently-playing .info-song {
    padding-left: 10px;
}

.info-song {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 12px;
}

.foot-center {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-song {
    display: flex;
}

.foot-center i {
    padding:  0 8px;
    color: white;
    font-size: 16px;
}

.play-bar {
    display: flex;
}

.play-bar h4 {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.bar {
    border: solid 1px white;
    width: 100px;
    height: 5px;
    margin: 20px 10px;
    align-self: center;
}

.bar-right {
    border: solid 1px white;
    min-width: 40px;
    height: 5px;
    margin: 20px 10px;
    align-self: center;
}

.foot-right {
    display: flex;
    width: 15%;
    justify-content: right;
}

.foot-right .bar {
    border: solid 1px white;
    width: 50px;
    height: 5px;
    margin: 20px 10px;
    align-self: center;

}

.foot-right i {
    font-size: 16px;
    color: white;
    padding-right: 10px;
    align-self: center;
}

/*----------------
    RESPONSIVE
    Mobile First
------------------*/
/* SM >= 550px */
@media screen and (min-width: 550px) {
    header {
        width: 240px;
    }
    .logo-small {
        display: none;
        padding: 5px 10px;
    }
    .logo-big {
        display: block;
        padding: 20px 80px 10px 10px;
    }
    .icons {
        /* width: 100; */
    }
    .icons span {
        display: inline;
        padding-left: 5px;
        white-space: nowrap;
        font: 14px;
    }
    .playlist {
        display: inline;
    }

    .header-bottom {
        justify-content: start;

    }
     
}
/* MD >= 878px */
@media screen and (min-width: 878px) {
    .favorite {
        display: flex;
    }
    .col .album {
        width: calc(100% / 4);
    }
    
}
/* LG >= 880px */
@media screen and (min-width: 880px) {
    
}
/* XL >= 1440px */
@media screen and (min-width: 1440px) {
    .col .album {
        width: calc(100% / 6);
    }  
}